# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.local
.env.*
venv/
.venv/
env/
ENV/

# Node modules
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Remnant directories
interactive-pseudocode-puzzle-solver/
